Login email addresses are case sensitive

**Describe the bug**
When creating a user login, the email address must be entered case sensitive to login. This is unexpected behavior as the vast majority of systems consider email addresses to be case-insensitive.

Consider guidance in RFC 5321 Section 2.4:

> "A host that expects to receive mail SHOULD avoid defining mailboxes where the case of characters in the local-part of a mailbox name is significant (case-sensitive)."

**Your Server Environment**
<!-- 🔅🔅🔅🔅🔅🔅🔅 Choose one of the following or write your own 🔅🔅🔅🔅🔅🔅🔅-->
* [ThingsBoard Cloud](https://thingsboard.cloud)

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 users, with similar but differing case structures for email: test@test.com, Test@test.com (replace test.com with some mail service)
2. Note that two accounts are created in Thingsboard, but only 1 activation email is sent (as both test and Test route to the same mailbox)
3. Requesting a new password is sent to the same mailbox, no matter the account it is requested from

**Expected behavior**
email addresses should be case-insensitive

________________________________________________________________
**Disclaimer** 

We appreciate your contribution whether it is a bug report, feature request, or pull request with improvement (hopefully). Please comply with the [Community ethics policy](https://docs.github.com/en/site-policy/acceptable-use-policies/github-acceptable-use-policies), and do not expect us to answer your requests immediately. Also, do not treat *GitHub issues* as a support channel. 


Hi. Case sensitivity for emails by default is by design of Thingsboard and this won't be changed. 
You can change it on your own. Please get familiar with the following comment:
https://github.com/thingsboard/thingsboard/issues/10937#issuecomment-2158038051